/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for the codon-slurm cluster
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Author: Walter Santana Garcia 
Mail: wsantana@ebi.ac.uk
Last edited: February 17th 2023
Credits: Adapted from Saul Pierotti (saul@ebi.ac.uk)
----------------------------------------------------------------------------------------
*/

workDir = '/hps/nobackup/birney/users/bonazzola/auc/work'

// in order to use slurm use the flag -profile slurm
profiles {

    slurm {
	executor {
    		name = "slurm"
    		queueSize = 2000
    		submitRateLimit = "100/1sec"
    		exitReadTimeout = "30 min"
    		jobName = {
        		task.name // [] and " " not allowed in lsf job names
            		.replace("[", "(")
            		.replace("]", ")")
            		.replace(" ", "_")
    		}
	}
       }
}

process {

    // this is to avoid errors for missing files due to shared filesystem latency
    maxRetries = 5
    errorStrategy = { ( task.exitStatus == 0 ) ? "retry" : "terminate" }
    // avoid cache invalidation due to lsf timestamps
    cache = "lenient"
}

//tower {
//  enabled = true
//}
